.customer-select{

position:relative;
width:100%;

}



.customer-select input{

width:100%;
height:48px;
padding:0 15px;
border:1px solid #dbe2ea;
border-radius:12px;
outline:none;

}



.customer-list{

position:absolute;
top:55px;
left:0;
right:0;

background:white;

border-radius:12px;

box-shadow:
0 10px 30px rgba(0,0,0,.15);

z-index:100;

max-height:250px;

overflow-y:auto;

}



.customer-item{

padding:14px;

cursor:pointer;

border-bottom:1px solid #eef2f7;

display:flex;

flex-direction:column;

}



.customer-item:hover{

background:#f1f5f9;

}



.customer-item span{

font-size:13px;

color:#64748b;

}



.no-customer{

padding:20px;

color:#64748b;

text-align:center;

}