.product-search{

position:relative;
width:100%;

}


.search-row{

display:flex;
gap:10px;

}


.search-row input{

height:48px;

border:1px solid #dbe2ea;

border-radius:12px;

padding:0 15px;

outline:none;

}


.search-row input:first-child{

flex:1;

}


.search-row input:last-child{

width:90px;

}




.product-results{

position:absolute;

top:55px;

left:0;

right:0;

background:white;

border-radius:14px;

box-shadow:0 10px 30px rgba(0,0,0,.15);

z-index:9999;

max-height:300px;

overflow-y:auto;

}




.product-result{

display:flex;

justify-content:space-between;

align-items:center;

padding:14px;

cursor:pointer;

border-bottom:1px solid #eef2f7;

}



.product-result:hover{

background:#f8fafc;

}



.product-result span{

display:block;

font-size:13px;

color:#64748b;

}



.product-result b{

color:#2563eb;

}



.no-result{

padding:20px;

text-align:center;

color:#64748b;

}